/* Custom properties */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Roboto";

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.125rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.55rem;
    --fs-body: 1.125rem;
  }
}

/* General Styles */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* buttons */

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  opacity: 0.3;
}

.btn-top:hover {
  opacity: 1;
}
/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.sectionTitle {
  margin-bottom: 0.25em;
}

.sectionTitle-intro {
  font-weight: var(--fw-reg);
}

.sectionTitle-intro strong {
  display: block;
}

.sectionSubtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.sectionSubtitle-intro {
  background: var(--clr-accent);
  padding: 0.25em 1em;
  margin-bottom: 1em;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo,
.logo svg {
  max-width: 100px;
  height: auto;
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;

  transform: translatex(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.navList {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navLink {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.navLink:hover {
  color: var(--clr-accent);
}

.navToggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.navOpen .nav {
  transform: translateX(0);
}

.navOpen .navToggle {
  position: fixed;
}

.navOpen .hamburger {
  transform: rotate(0.625turn);
  background: var(--clr-accent);
}

.navOpen .hamburger::after {
  opacity: 0;
}

.navOpen .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
  background: var(--clr-accent);
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-dark);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

/* home section */

.intro {
  position: relative;
}

.introImg {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .introImg {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .sectionSubtitle-intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/* About me section */

.aboutMe {
  background-color: var(--clr-dark);
  background-image: url(../images/aboutme.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
  color: var(--clr-light);
  text-align: center;
}

.sectionTitle-about {
  color: var(--clr-accent);
  position: relative;
}

.sectionTitle-about::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

.about {
  max-width: 500px;
  margin: 0 auto;
}

.abouts {
  margin-bottom: 4em;
}

@media (min-width: 800px) {
  .abouts {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .about + .about {
    margin-left: 2em;
  }
}

/* Portfolio section */

.myPortfolio {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.sectionSubtitle-portfolio {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolioItem {
  background: var(--clr-accent);
  overflow: hidden;
}

.portfolioImg {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolioItem:focus {
  position: relative;
  z-index: 2;
}

.portfolioImg:hover,
.portfolioItem:focus .portfolioImg {
  transform: scale(1.2);
  opacity: 0.75;
}

/* footer */

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footerLink {
  font-weight: var(--fw-bold);
}

.footerLink:hover,
.socialMedia-link:hover {
  opacity: 0.7;
}

.footerLink:hover {
  text-decoration: underline;
}

.socialMedia {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.socialMedia-item {
  margin: 0 0.5em;
}

.socialMedia-link {
  padding: 0.5em;
}
